body {
  background-color: #eef;
}

header h1 {
  text-align: center;
}

.timer {
  display: flex;
  justify-content: space-evenly;
}

.timeUnit {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#timerButton {
  display: block;
  margin: 50px auto;
}

::placeholder {
   text-align: center;
}
